.movie {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-template-rows: auto;
    grid-template-areas:
    "mov1 mov2 mov3 mov4";
    grid-gap: 20px;
    text-align: center;
    //padding: 20px;
    width: 80vw;
    /*margin-left: 30px;*/
    /*margin-left: -70px;*/
}

.movie img {
    /*max-height: 350px;*/
    /*min-height: 350px;*/
    height: 350px;
    width: 250px;
    display: block;
    border-radius: 6px;
}

.mov1 {
    border: 0.5rem solid purple;
    border-radius: 15px;
    width: 250px;
    height: 410px;
    background-color: #e0e0e0;;
}

.namePoster {
    margin: 0;
}

.stylePoster {
    margin: 0;
    padding-bottom: 5px;
    font-style: italic;
}

.sortMovies {
    margin: 20px 20px;
}